---
import Galeria from "../Galeria.astro";
---

<section id="Galeria" class="bg-white w-full scrolling-section">
  <div
    class="container mx-auto pt-16 pb-24 grid md:grid-cols-3 space-y-16 place-content-center">
    <div>
      <h2 class="text-3xl max-w-md text-pretty">
        Automatização eficaz, customização eficiente, acesso de qualquer lugar e
        integração simplificada.
      </h2>
    </div>
    <div class="md:col-span-2">
      <Galeria />
    </div>
  </div>
</section>
