---
import SolucoesCard from "../SolucoesCard.astro";

const features = [
  {
    title: "Consultoria de Alta Perfomance",
    description:
      "Na Neuon, entendemos que cada empresa enfrenta desafios únicos. Por isso, nossa consultoria especializada vai além de simples ajustes: fazemos uma análise profunda das necessidades do seu negócio para traçar estratégias eficientes e soluções personalizadas. Nosso trabalho é otimizar o uso do ERP, definindo processos mais inteligentes e eficientes que garantem uma gestão integrada e automatizada, totalmente alinhada aos objetivos estratégicos da sua empresa. A Neuon é seu parceiro para transformar a gestão, aumentar a produtividade e potencializar resultados, gerando impactos reais e duradouros.",
  },
  {
    title: "Desenvolvimento Sob Medida",
    description:
      "Entendemos que cada empresa tem seu próprio jeito de operar. Por isso, oferecemos soluções de desenvolvimento sob medida, criando customizações específicas para atender às necessidades exclusivas de cada negócio. Seja através da adaptação de funcionalidades, integrações com outras plataformas ou criação de módulos personalizados, entregamos um sistema flexível, inteligente e totalmente alinhado às suas demandas. Nosso objetivo é transformar o ERP em uma ferramenta que realmente potencialize a gestão e os resultados da sua empresa.",
  },
  {
    title: "Suporte Especializado",
    description:
      "Um ERP eficiente exige suporte ágil e confiável. Na Neuon, garantimos atendimento especializado para resolver qualquer necessidade de forma rápida, minimizando impactos no dia a dia da sua operação. Nossa equipe altamente capacitada está sempre disponível para suporte técnico, esclarecimento de dúvidas e orientações estratégicas, assegurando que seu sistema funcione com máximo desempenho, estabilidade e segurança.Com a Neuon, você conta com um suporte que antecipa problemas, otimiza processos e mantém seu negócio em constante movimento.",
  },
  {
    title: "Implementação Estratégica",
    description:
      "A implementação do ERP é um movimento estratégico para impulsionar a transformação digital da sua empresa - e, na Neuon, conduzimos esse processo com planejamento, agilidade e expertise. Desde o mapeamento de processos até a configuração do sistema e o treinamento dos usuários, garantimos uma transição fluida, segura e orientada para resultados. Nosso compromisso é entregar uma implementação que maximize a produtividade, eleve a eficiência operacional e prepare sua empresa para crescer com tecnologia e inteligência.",
  },
  {
    title: "Integração Inteligente de Sistemas",
    description:
      "Integrar seu ERP a outros sistemas é essencial para construir um ecossistema digital ágil e eficiente. Na Neuon, desenvolvemos e implementamos integrações personalizadas, conectando seu sistema a diversas plataformas e aplicações de forma inteligente e segura. Com isso, garantimos comunicação fluida entre sistemas, automação de processos e sincronização de dados em tempo real - impulsionando a eficiência operacional e fortalecendo a tomada de decisão estratégica. Conte com a Neuon para criar integrações que simplificam a operação e potencializam resultados.",
  },
  {
    title: "Sustentação e Evolução Contínua",
    description:
      "A gestão eficiente de um ERP vai muito além da implementação inicial. Na Neuon, oferecemos serviços de sustentação e evolução contínua, acompanhando de perto o funcionamento do seu ERP Sankhya e garantindo que ele evolua junto com as mudanças e estratégias do seu negócio. Realizamos ajustes técnicos, otimizações de processos, atualizações, análises proativas e recomendações estratégicas, assegurando que o sistema esteja sempre alinhado às novas necessidades da operação. Com a Neuon, seu ERP se torna um ativo vivo para impulsionar a inovação, a eficiência e o crescimento contínuo da sua empresa.",
  },
];
---

<section id="Solucoes" class="scrolling-section">
  <div class="bg-cinza bg-cinza-angulado pt-12 py-12 sm:py-16 lg:py-20">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col items-center gap-8">
        <img
          src="/images/icons/solucoes-icon.svg"
          alt="Icon Soluções - Lampada"
          class="h-[41px] w-[32px]"
        />
        <h2 class="text-center text-3xl text-azul font-semibold max-w-sm">
          SOLUÇÕES INTELIGENTES PARA DESAFIOS REAIS
        </h2>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 pb-12 sm:pb-16 lg:pb-20">
    <h3
      class="text-center text-pretty text-azul text-xl max-w-md flex mx-auto pt-12 pb-4">
      Clique abaixo para expandir e conhecer mais detalhes sobre cada uma das
      soluções.
    </h3>
    <div class="mt-12 grid gap-8 sm:grid-cols-2 bg-white">
      {
        features.map((feature) => (
          <SolucoesCard
            title={feature.title}
            description={feature.description}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .bg-cinza-angulado {
    background-color: #ededed;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  }
</style>
