---
import TestimonialCard from "./AvaliacoesCard.astro";

const testimonials = [
  {
    quote:
      "A experiência com a Neuon foi simplesmente transformadora! Desde o primeiro contato, a equipe se mostrou extremamente profissional, atenta às nossas necessidades e capaz de entregar soluções inovadoras que realmente fizeram a diferença no nosso projeto.",
    name: "Rafael Ferreira",
    title: "CEO",
    imageSrc: "/images/avaliacoes-1.png",
  },
  {
    quote:
      "Trabalhar com a Neuon superou todas as nossas expectativas! A equipe demonstrou um profundo conhecimento técnico e uma capacidade excepcional de transformar nossos requisitos em soluções práticas e eficientes. O compromisso deles com a qualidade e inovação é verdadeiramente notável.",
    name: "Bruno Portes",
    title: "CTO",
    imageSrc: "/images/avaliacoes-2.png",
  },
  {
    quote:
      "A experiência com a Neuon foi simplesmente transformadora! Desde o primeiro contato, a equipe se mostrou extremamente profissional, atenta às nossas necessidades e capaz de entregar soluções inovadoras que realmente fizeram a diferença no nosso projeto.",
    name: "Rafael Ferreira",
    title: "CEO",
    imageSrc: "/images/avaliacoes-1.png",
  },
];
---

<section id="Avaliacoes" class="py-12 bg-azul sm:py-16 lg:py-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-8">
      <img
        src="/images/icons/avaliacoes-icon.svg"
        alt="Icon Avaliacoes - Icone de balão de mensagem"
        class="h-[41px] w-[32px]"
      />
      <h2 class="text-center text-3xl text-white font-semibold max-w-sm">
        O QUE ESTÃO FALANDO SOBRE A GENTE
      </h2>
    </div>

    <div class="mt-12 grid gap-8 md:grid-cols-2">
      {
        testimonials.map((testimonial) => (
          <TestimonialCard
            quote={testimonial.quote}
            name={testimonial.name}
            title={testimonial.title}
            imageSrc={testimonial.imageSrc}
          />
        ))
      }
    </div>
  </div>
</section>
