---
export interface Props {
  quote: string;
  name: string;
  title: string;
  company: string;
}

const { quote, name, title, company } = Astro.props;
---

<div
  class="bg-[#063099] text-white shadow-sm border-t-4 border-azul-escuro p-6 max-w-3xl mx-auto">
  <div class="flex items-center flex-wrap justify-center gap-4">
    <div class="ml-6 flex-1 min-w-[200px]">
      <h4 class="text-lg font-semibold uppercase mb-4">{name} - {company}</h4>
      <h5 class="text-gray-200 uppercase mb-4">{title}</h5>
      <blockquote>
        <p class="text-base text-secondary-700 italic">"{quote}"</p>
      </blockquote>
    </div>
  </div>
</div>
