---

---

<section id="Contato" class="relative py-20 bg-gray-200 overflow-hidden">
  <!-- Diagonal background elements -->

  <div class="absolute inset-30 bg-clip-content">
    <div
      class="absolute -inset-[300vw] bg-gray-100 transform skew-y-[84deg] skew-x-[43deg]"
    >
    </div>
  </div>

  <div class="relative container mx-auto px-4 sm:px-6 lg:px-8 z-10">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-3xl font-bold text-center text-gray-900 mb-12">
        Vamos conversar sobre o seu negócio?
      </h2>

      <form class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <input
            type="text"
            name="nome"
            id="nome"
            class="py-4 px-4 block w-full shadow-sm border-gray-300 bg-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Nome"
          />
        </div>

        <div>
          <input
            type="text"
            name="sobrenome"
            id="sobrenome"
            class="py-4 px-4 block w-full shadow-sm border-gray-300 bg-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Sobrenome"
          />
        </div>

        <div class="md:col-span-2">
          <input
            id="email"
            name="email"
            type="email"
            class="py-4 px-4 block w-full shadow-sm border-gray-300 bg-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="E-mail"
          />
        </div>

        <div class="md:col-span-2">
          <textarea
            id="mensagem"
            name="mensagem"
            rows="6"
            class="py-4 px-4 block w-full shadow-sm border-gray-300 bg-white focus:ring-primary-500 focus:border-primary-500"
            placeholder="Escreva sua mensagem aqui."></textarea>
        </div>

        <div class="md:col-span-2 flex justify-end">
          <button
            type="submit"
            class="px-8 py-3 bg-laranja hover:bg-amber-500 text-white font-medium transition-colors duration-200"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
