---
export interface Props {
  title?: string;
  subtitle?: string;
  primaryButtonText?: string;
  primaryButtonLink?: string;
  secondaryButtonText?: string;
  secondaryButtonLink?: string;
}

const {
  title = "Especialistas em otimizar operações e maximizar lucros através do ERP Sankhya",
  subtitle = "Transform your business operations with our cutting-edge artificial intelligence platform designed to enhance productivity, reduce costs, and drive innovation.",
  primaryButtonText = "Solicite uma demonstração",
  primaryButtonLink = "#contact",
  secondaryButtonText = "Solicite uma demonstração",
  secondaryButtonLink = "#Solucoes",
} = Astro.props;
---

<section class="grid grid-cols-2 place-items-center">
  <div class="bg-azul w-full h-full flex flex-start flex-col gap-16">
    <h1 class="text-white font-normal max-w-3xl text-6xl">{title}</h1>
    <button class="p-4 bg-laranja text-white">{primaryButtonText}</button>
  </div>
  <div class="h-auto w-full">
    <img src="/neoun-hero.png" alt="bg-image-hero-neuon" class="w-full" />
  </div>
</section>
