---
import SolucoesCard from "./SolucoesCard.astro";

const features = [
  {
    title: "Consultoria",
    description:
      "Na Neuon, entendemos que cada empresa tem desafios únicos. Nossa consultoria é focada em analisar profundamente as necessidades do seu negócio e traçar estratégias eficientes para otimizar o uso do ERP Sankhya. Com uma abordagem personalizada, ajudamos na definição dos melhores processos, garantindo uma gestão integrada, automatizada e alinhada aos seus objetivos estratégicos.",
  },
  {
    title: "Desenvolvimento",
    description:
      "Sabemos que cada empresa opera de maneira diferente, e é por isso que oferecemos soluções sob medida. Nosso time de desenvolvimento cria customizações específicas dentro do ERP Sankhya, adaptando funcionalidades para atender às particularidades do seu negócio. Desde integrações com outras plataformas até a criação de módulos personalizados, garantimos um sistema flexível e alinhado às suas demandas.",
  },
  {
    title: "Suporte",
    description:
      "Um ERP eficiente precisa de um suporte ágil e confiável. Na Neuon, oferecemos atendimento remoto especializado para resolver qualquer questão rapidamente, minimizando impactos no dia a dia da sua operação. Nossa equipe está sempre disponível para prestar suporte técnico, tirar dúvidas e garantir que seu sistema funcione com o máximo desempenho e segurança.",
  },
  {
    title: "Implementação",
    description:
      "A implementação do ERP Sankhya é um passo estratégico para a transformação digital da sua empresa. Nossa equipe conduz esse processo com planejamento e expertise, assegurando uma transição fluida e bem-sucedida. Do mapeamento inicial à configuração e treinamento dos usuários, garantimos que o sistema esteja pronto para potencializar a produtividade e eficiência do seu negócio.",
  },
  {
    title: "Integração",
    description:
      "A integração do ERP Sankhya com outros sistemas é fundamental para criar um ecossistema digital eficiente. Nossa equipe especializada desenvolve e implementa integrações personalizadas, conectando seu ERP com diferentes plataformas e aplicações. Garantimos uma comunicação fluida entre sistemas, automatização de processos e sincronização de dados em tempo real, maximizando a eficiência operacional do seu negócio.",
  },
  {
    title: "XXXXXX",
    description:
      "A implementação do ERP Sankhya é um passo estratégico para a transformação digital da sua empresa. Nossa equipe conduz esse processo com planejamento e expertise, assegurando uma transição fluida e bem-sucedida. Do mapeamento inicial à configuração e treinamento dos usuários, garantimos que o sistema esteja pronto para potencializar a produtividade e eficiência do seu negócio.",
  },
];
---

<section id="Solucoes" class="">
  <div class="bg-cinza pt-12 py-12 sm:py-16 lg:py-20">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col items-center gap-8">
        <img
          src="/images/icons/solucoes-icon.svg"
          alt="Icon Soluções - Lampada"
          class="h-[41px] w-[32px]"
        />
        <h2 class="text-center text-3xl text-azul font-semibold max-w-sm">
          SOLUÇÕES INTELIGENTES PARA DESAFIOS REAIS
        </h2>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 pb-12 sm:pb-16 lg:pb-20">
    <h3
      class="text-center text-pretty text-azul text-xl max-w-md flex mx-auto pt-12 pb-4"
    >
      Clique abaixo para expandir e conhecer mais detalhes sobre cada uma das
      soluções.
    </h3>
    <div class="mt-12 grid gap-8 sm:grid-cols-2 bg-white">
      {
        features.map((feature) => (
          <SolucoesCard
            title={feature.title}
            description={feature.description}
          />
        ))
      }
    </div>
  </div>
</section>
